.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20% 12% 20% 12%;
}

.calls-container {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.no-calls {
  margin-top: 2.8rem;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  color: var(--color-gray-primary);
}

@media screen and (min-width: 481px) {
  .container {
    padding: 12% 14% 5% 14%;
  }
}

@media screen and (min-width: 1025px) {
  .calls-container {
    width: 45em;
    margin: auto;
  }
}
