.card-inscription {
  border-radius: 0 0 8px 8px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inscription-info-item {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--color-gray-primary);
  font-weight: 600;
  font-size: 0.9em;
  flex-direction: column;
  align-items: start;
}

.inscription-title {
  font-size: 0.8rem;
}

.inscription-value {
  text-align: start;
  font-weight: 800;
}
