.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 24px 15px;
  gap: 20px;
  background-color: var(--color-primary);
}

.burger-a {
  cursor: pointer;
  text-decoration: none;
  width: 4rem;
}

.burger-icon {
  font-size: 1.8em;
  width: 3em;
  color: var(--color-white);
}

.title {
  font-size: 1.5em;
  color: var(--color-white);
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.title img {
  width: 3rem;
}

.placeholder {
  display: none;
}

@media screen and (min-width: 481px) {
  .header {
    justify-content: space-between;
  }

  .burger-a {
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: 1.8em;
    margin-left: 20px;
  }
}

@media screen and (min-width: 769px) {
  .burger-a {
    display: none;
  }

  .placeholder {
    display: none;
  }

  .header {
    justify-content: center;
  }
}
