.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 30px 15px;
  gap: 20px;
  background-color: var(--color-primary);
}

.burger-a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.burger-icon {
  font-size: 1.4em;
  width: 2em;
}

.title {
  font-size: 1.5em;
}

.placeholder {
  display: none;
}

@media screen and (min-width: 481px) {
  .header {
    justify-content: space-between;
  }

  .burger-a {
    width: auto;
    display: flex;
    justify-content: center;
  }

  .title {
    font-size: 1.8em;
    margin: 0 auto;
  }

  .placeholder {
    display: block;
    width: 2em;
  }
}

@media screen and (min-width: 769px) {
  .burger-a {
    display: none;
  }

  .placeholder {
    display: none;
  }

  .header {
    justify-content: center;
  }
}
