@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Rubik', sans-serif;
  background-color: var(--background-color-primary);
  color: var(--color-gray-primary);
}

html,
body,
#root {
  height: 100%;
}

:root {
  --color-primary: #40bfae;
  --color-gray-primary: #3a3e43;
  --color-gray-primary-disabled: #a1a1a1;
  --color-gray-secondary: #eeeeee;
  --background-color-primary: #c4c4c426;
  --background-color-modal: #f7f6f7;
  --background-color-modal-overlay: rgba(0, 0, 0, 0.5);
  --color-card-badge: #5f5f5f;
  --color-yellow: #deb111;
  --color-yellow-hover: #efc633;

  --color-primary-blue: #2563eb;
  --color-primary-blue-hover: #1d4ed8;

  --color-light-gray: #f0f0f0;
  --color-medium-gray: #ddd;
  --color-shadow-hover: #00000014;

  --color-footer-text: #3a3e43;
  --color-footer-bottom-text: #6c757d;
  --color-footer-border: #a1a1a1;
  --color-footer-icon-background: #e7e7e7;
}
