.card-description {
  color: var(--dark-gray-text);
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  text-align: justify;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-link {
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-primary-blue);
  font-size: 0.95rem;
  text-decoration: none;
  font-weight: 700;
}

.card-link:hover {
  text-decoration: underline;
  color: var(--color-primary-blue-hover);
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-item img {
  width: 4rem;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 0.5rem;
}

.card-desktop-layout {
  display: none;
}

.card-mobile-layout {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media screen and (min-width: 481px) {
  .card-description {
    display: block;
  }
}

@media screen and (min-width: 769px) {
  .card-mobile-layout {
    display: none;
  }

  .card-desktop-layout {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }

  .card-description-container {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
  }

  .card-info-container {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .logo {
    margin: 0 0 1rem 0;
  }

  .card-links {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
  }
}
