.card-description {
  color: var(--dark-gray-text);
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-link {
  border: none;
  background: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-primary-blue);
  font-size: 0.95rem;
  text-decoration: none;
  font-weight: 600;
}

.card-link:hover {
  text-decoration: underline;
  color: var(--color-primary-blue-hover);
}

.info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.info-item img {
  width: 4rem;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 0.5rem;
}

@media screen and (min-width: 481px) {
  .card-description {
    -webkit-line-clamp: 5;
  }
}

@media screen and (min-width: 769px) {
  .card-description {
    -webkit-line-clamp: 3;
  }
}
